<div class="container">
	Search: <input style="margin-bottom: 30px;" ng-model = "$ctrl.query" />
	<p>
		Sort By:
		<select ng-model="$ctrl.orderProp">
			<option value="name">Alphabetical</option>
			<option value="age">Newest</option>
			<option value="-age">Oldest</option>
		</select>
	</p>
	<div class="col-md-10">
		<ul>
			<li ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp">
				<span>{{phone.name}}</span>
				<p>{{phone.snippet}}</p>
				<img ng-src="{{phone.imageUrl}}">
			</li>
		</ul>

	</div>
</div>